Package: com.propr.joe
Name: Joe
Version: 0.2.2
Architecture: iphoneos-arm
Description: joe mama made a customization tweak
Maintainer: propr
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>=14.0)
