<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Lock Screen Settings</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.propr.joeprefs</string>
			<key>key</key>
			<string>hideQuickActions</string>
			<key>label</key>
			<string>Hide Quick Actions</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.propr.joeprefs</string>
			<key>key</key>
			<string>hideLockIcon</string>
			<key>label</key>
			<string>Hide Lock Icon (notched only)</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.propr.joeprefs</string>
			<key>key</key>
			<string>compactDate</string>
			<key>label</key>
			<string>Use Compact Date Format</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.propr.joeprefs</string>
			<key>key</key>
			<string>hideDate</string>
			<key>label</key>
			<string>Hide Date</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.propr.joeprefs</string>
			<key>key</key>
			<string>hideOlderNotifications</string>
			<key>label</key>
			<string>Hide No Older Notifications</string>
		</dict>

	</array>
	<key>title</key>
	<string>Joe</string>
</dict>
</plist>
